/*style1.css*/
/*tag selector*/
p {
    color: red;
    font-size: xx-small;
    font-weight: bold;
}
h1 {
    color:blue;
}

/*class selector*/
.warna-merah {
    color: red;
}

/*id selector*/
#warna-biru {
    color: blue;